*/
.strength-block {
    display: flex;
    margin-top: 10px; 
  }
  
 
  .gray {
    background-color: gray;
    width: 50px; 
    height: 20px; 
    margin-right: 10px;
  }
  
  .red {
    background-color: red ;
    width: 50px; 
    height: 20px;
    margin-right: 10px;
  }
  

  .yellow {
    background-color: yellow ;
    width: 50px; 
    height: 20px;
    margin-right: 10px;
  }
  
  .green {
    background-color: green ;
    width: 50px; 
    height: 20px;
    margin-right: 10px;
  }
  