/* Общие стили для блоков */
.strength-block {
    display: flex;
    margin-top: 10px; /* Добавьте отступ между блоками */
  }
  
  /* Стили для серого раздела */
  .gray {
    background-color: gray;
    width: 50px; /* Измените ширину по вашему усмотрению */
    height: 20px; /* Измените высоту по вашему усмотрению */
    margin-right: 10px;
  }
  
  /* Стили для красного раздела */
  .red {
    background-color: red ;
    width: 50px; /* Измените ширину по вашему усмотрению */
    height: 20px;
    margin-right: 10px;
  }
  
  /* Стили для желтого раздела */
  .yellow {
    background-color: yellow ;
    width: 50px; /* Измените ширину по вашему усмотрению */
    height: 20px;
    margin-right: 10px;
  }
  
  /* Стили для зеленого раздела */
  .green {
    background-color: green ;
    width: 50px; /* Измените ширину по вашему усмотрению */
    height: 20px;
    margin-right: 10px;
  }
  