<div>
  <input type="text" [(ngModel)]="password" (input)="checkPasswordStrength()" />
</div>
<div class="strength-block">
  <div
    class="defolt"
    [ngClass]="{
      red:
        isPasswordStrength() === 'SuperWeak' || isPasswordStrength() === 'Weak',
      yellow: isPasswordStrength() === 'Medium',
      green: isPasswordStrength() === 'Strong',
      gray: isPasswordStrength() === 'None'
    }"
    class="defolt"
  ></div>
  <div
    [ngClass]="{
      yellow: isPasswordStrength() === 'Medium',
      green: isPasswordStrength() === 'Strong',
      red: isPasswordStrength() === 'SuperWeak',
      gray: isPasswordStrength() === 'None' || isPasswordStrength() === 'Weak'
    }"
    class="defolt"
  ></div>
  <div
    class="defolt"
    [ngClass]="{
      green: isPasswordStrength() === 'Strong',
      red: isPasswordStrength() === 'SuperWeak',
      gray:
        isPasswordStrength() === 'None' ||
        isPasswordStrength() === 'Weak' ||
        isPasswordStrength() === 'Medium'
    }"
  ></div>
</div>
